<br />
<br />

<div class="container">
    <br />
    <img src="~/Images/faleconosco.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer!</h2>
        <p>
            Se tiver alguma sugestão ou dúvida fale conosco.
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="felipe.abcosta90@gmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (11) 4321-9876
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Av. Cerejeiras Cor Marrom, 654 - 02131-021 - São Paulo
        </p>
    </div>
</div>