model Lanches.ViewModels.LancheListViewModel

<div>
    <h1>Preferidos da Semana!</h1>
    <p> </p>
    <h4>Escolha o seu!</h4>
</div>

<div class="row">
    foreach (var lanche in Model.Lanches)
    {
        <!-- <partial name="_LanchesResumo" for="lanche" /> -->
    }
</div>