@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<div>
    <h1>Preferidos da Semana!</h1>
    <p> </p>
    <h4>Escolha o seu!</h4>
</div>

<div class="row">
    @foreach (var lanche in Model.LanchesPreferidos)
    {
        @Html.Partial("_LanchesResumo", lanche)
    }
</div>