@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <li>
        <a asp-controller="CarrinhoCompra">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Carrinho(
            <span id="cart-status">
                @Model.CarrinhoCompra.CarrinhoCompraItems.Count
            </span>
            )
        </a>
    </li>
}